/* 字體 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Noto+Serif+JP:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  /* 字體 */
  --font-sans: 'Noto Sans TC', sans-serif;

  --font-serif: 'Noto Serif JP', serif;

  /* ---顏色系統規劃---- */

  --bg-color: #fdfaf6; /* 背景顏色 */
  --main-text: #5a5047; /* 主色 */
  --title-text: #a8827a; /* 標題色 */
  --accent: #c5cbb7; /* 其他色 */
  --primary-color: #d89ca2; /* 主按鈕 */
  --secondary-color: #b97985; /* 次按鈕 */
  --price-btn: #888;
  --shop: #ffffff;
  --line-color: rgba(197, 203, 183, 0.4); /* 裝飾線 */
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.8;
  font-family: var(--font-sans);
  scroll-behavior: smooth;
  font-size: 16px;
  letter-spacing: 0.8px;
}
body {
  background-color: var(--bg-color);
}

body .no-scroll {
  overflow: hidden;
}
/* 網頁連結小圖 */

h1,
h2,
h3,
h4 {
  font-family: var(--font-serif);
  color: var(--title-text);
  line-height: 1.5;
  letter-spacing: 1px;
  font-weight: 600;
}

.small-text,
.note,
.caption {
  font-size: 0.85rem;
  letter-spacing: 1.2px;
}

button,
.btn {
  font-size: 1rem;
  letter-spacing: 1px;
  /* border-radius: 12px; */
}

h1 {
  font-size: 2rem; /* 32px */
  font-weight: bold;
}

h2 {
  font-size: 1.5rem; /* 24px */
}

h3 {
  font-size: 1.25rem; /* 20px */
}

h4 {
  font-size: 1.2rem; /* 20px */
}

p,
span {
  font-size: 1rem; /* 16px */
}

p {
  color: var(--main-text);
}

/* footer */
.footer {
  background-color: var(--main-bg);
  color: var(--main-text);
  padding: 2rem 1.5rem;
  font-size: 0.9rem;
  line-height: 1.6;
  margin-top: 50px;
}

.footer__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
  max-width: 1000px;
  margin: 0 auto;
}

.footer__brand,
.footer__nav,
.footer__contact,
.footer__txt {
  flex: 1 1 200px;
}

.footer__nav ul {
  list-style: none;
  padding: 0;
}

.footer__nav li a {
  text-decoration: none;
  color: var(--main-text);
  transition: color 0.3s;
}

.footer__nav li a:hover {
  color: var(--accent);
}

.footer__bottom {
  text-align: center;
  padding-top: 1rem;
  border-top: 1px solid var(--accent);
  margin-top: 2rem;
}
.footer span {
  font-size: 0.8rem;
  color: #5a504757;
}

/* 導覽列 */

.navbar img {
  height: 3rem;
  object-fit: contain;
  display: block;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 99;
  /* background-color: #f5f5f5; */
  background-color: rgba(245, 245, 245, 0.7); /* 半透明 */
  backdrop-filter: blur(10px); /* 毛玻璃效果 */
  -webkit-backdrop-filter: blur(10px); /* Safari 支援 */
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); /*增加立體感 */
}
.navbar-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1.5rem;
}
.navbar__right {
  display: flex;
  align-items: baseline;
  gap: 1.5rem;
}

.navbar__links {
  display: flex;
  gap: 1.5rem;
}

.navbar__links a {
  text-decoration: none;
  color: var(--main-text);
  /* font-weight: 400; */
  transition: color 0.3s;
}

.navbar__links a:hover {
  color: var(--accent);
}

.navbar__logo img {
  width: 100%;
  display: block;
}

/* 購物車數字 */
.cart-link {
  position: relative;
  display: inline-block;
  cursor: pointer;
  transition: color 0.3s;
}
.cart-link:hover {
  color: var(--accent);
}

.cart-count {
  position: absolute;
  top: -8px;
  right: -10px;
  background: var(--primary-color);
  color: white;
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 50%;
  display: none;
}

.navbar__toggle {
  display: none; /* 預設隱藏 */
}

/* 響應式 RWD */
@media (max-width: 768px) {
  .navbar {
    position: fixed;
    padding: 0.5rem 1rem;
    background-color: #f5f5f5;
  }

  .navbar__logo .logo {
    width: 80%;
  }

  .navbar__toggle {
    display: flex; /*顯示 */
    position: relative;
    width: 24px;
    height: 16px;
    cursor: pointer;
    z-index: 1100;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .navbar__toggle span {
    position: absolute;
    height: 1.5px;
    width: 100%;
    background-color: var(--main-text);
    border-radius: 1px;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }

  /* 初始位置 */
  .navbar__toggle span:nth-child(1) {
    transform: translateY(-7px);
  }
  .navbar__toggle span:nth-child(2) {
    transform: translateY(0);
    width: 60%;
    right: 0;
    position: absolute;
  }
  .navbar__toggle span:nth-child(3) {
    transform: translateY(7px);
  }

  /* 打開後變叉叉 */
  .navbar__toggle.active span:nth-child(1) {
    transform: rotate(45deg);
  }
  .navbar__toggle.active span:nth-child(2) {
    opacity: 0;
  }
  .navbar__toggle.active span:nth-child(3) {
    transform: rotate(-45deg);
  }

  .navbar__links {
    will-change: transform, opacity; /* 預告瀏覽器，避免nav顫動 */
    position: fixed;
    top: 100%;
    right: 0;
    left: 0;
    background-color: #f5f5f5;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    padding: 1rem 2rem;
    width: 100%;

    transform: translateY(-10%); /* 初始位置 */
    opacity: 0;
    pointer-events: none;
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
  }

  .navbar__links.active {
    pointer-events: auto;
    opacity: 1;
    transform: translateY(0);
    box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.08); /*增加立體感 */
  }
}
